* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

header {
  margin-top: 3rem;
  padding: 6rem 0;
  font-size: 1rem;
  text-align: left;
}

body {
  font-family: Apercu, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

li {
  margin: 0;
}

a {
  color: #666;
  text-decoration: none;
}

nav:before {
  left: 1rem;
}

nav:after {
  right: 1rem;
  transform: rotateY(180deg);
}

nav {
  top: 0;
  z-index: 9999;
  position: fixed;
  left: 0;
  display: block;
  height: 3rem;
  width: 100%;
  opacity: 1;
  background: #fff;
  transform: all .4s ease-in-out;
}

nav::after,
nav::before {
  width: .6rem;
  height: .6rem;
  content: "";
  position: absolute;
  bottom: -.6rem;
}

.logo {
  float: left;
  margin: .5rem 0;
}

.logo img {
  max-height: 2rem;
  margin: 0 auto;
  opacity: .75;
}

.auto-width {
  max-width: 70%;
  margin: 0 auto;
  widows: 70vw;

}

.header-name {
  text-align: left;
  float: left;
  color: #444;
  opacity: 0;
  font-size: 1rem;
  margin: .9rem 0 0 .5rem;
  transform: translateY(-3rem);
  transition: all .2s cubic-bezier(.4,0,0,1);
}

.header-name strong,
.tag-line,
h1 {
  font-family: 'Fedra Sans', sans-serif;
}

.scrolled .header-name {
  transform: translateY(0);
  opacity: 1;
}

.tag-line {
  display: block;
  color: #444;
  font-size: 3rem;
  line-height: 1;
  text-align: left;
  font-weight: 700;
  padding-top: 1rem;
}

.desc {
  font-size: 1.25rem;
  color: #ccc;
  font-weight: 300;
  line-height: 1.3;
  display: block;
  padding: .5rem 0 1rem;
  text-align: left;
}

nav .auto-width {
  height: 3rem;
  border: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  transition: all .4s
}

nav ul {
  width: auto;
  float: right;
  margin: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  padding: 1.3rem .5rem;
  display: inline-block;
  font-size: .75rem;
  height: 1rem;
  position: relative;
  font-weight: 300;
}

nav .auto-width.header-nav.scrolled {
  max-width: 100%;
  width: 100%;
  padding: 0 .6rem;
  border-color: #fff;
}

nav li:hover a:after {
  width: 100%
}

main {
  max-width: 160em;
  margin: 0 auto;
}

article {
  display: block;
}

.item {
  clear: both;
  position: relative;
  margin: 0 auto;
}

.inner-item {
  height: 50em;
  margin: 1rem 1rem 0;
  border-radius: .6rem;
  position: relative;
  overflow: hidden;
}

.post .inner-item {
  background: #ece9e9;
  height: 25rem;
}

.photograph .inner-item {
  background: #ffe324;
  height: 25rem;
}

.project .inner-item {
  background: #1f1f1f;
  height: 25rem;
}

footer {
  display: block;
  text-align: center;
  padding: 3em 0;
}